body{
    margin: 0;
}
#div_slider{
    display: flex;
    overflow-x: hidden;
    gap: 5px;
    width: 100%;
    height: min-content;
    border: solid 1px black;
    scroll-snap-type: x mandatory;
}
/* #div_slider::-webkit-scrollbar{
    background-color: red;
} */
img{
    /* scroll-snap-align: start;
    -webkit-user-drag: none; */
    width: 100vw;
    user-select: none;
    -webkit-user-drag: none;
}